In [13]:
# Add magic line
%matplotlib inline

In [14]:
# Import dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statistics

In [15]:
# 1. Import Data into pandas df
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [16]:
# Read the city data and store in df
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [18]:
# Read the ride data and store in df
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

In [25]:
# 2. Merge DataFrames
# Prepare data to be merged
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          120 non-null    object
 1   driver_count  120 non-null    int64
 2   type          120 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.9+ KB

In [20]:
# Get the columns and rows that are not null
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [29]:
# Get unique values for each city type
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [32]:
# Find number of occurences for each city type
sum(city_data_df["type"]=="Rural")

18

In [35]:
# Get info about data to determine cleanup
ride_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   city     2375 non-null   object
 1   date     2375 non-null   object
 2   fare     2375 non-null   float64
 3   ride_id  2375 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 74.3+ KB

In [36]:
# Merge the DataFrames by the city
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Inspect new df
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [3]:
# Create bubble chart for avg fare vs # of rides where bubble s = # drivers by city

In [4]:
# Statistical info (mean, median, mode) for number of rides for each city type

In [5]:
# Statistical info for avg fares for each city type

In [6]:
# Statistical info for numer of drivers for each city type

In [7]:
# Create box and whisker plit for # of riders by city type

In [8]:
# Create box and whisker for fares by city type

In [9]:
# Create box and whisker for the number of drivers by city type

In [10]:
# Create pie chart for percent of total fares

In [11]:
# Create pie chart for percent of total rides

In [ ]:
# Create pie chart for percent of total drivers